.homeImage{
    border-radius:49% 51% 70% 30% / 72% 85% 15% 28% ;
    background-image: linear-gradient(to right, #fffbd5, #b20a2c);
    width: 25vw;
    min-width: 225px;
    overflow: hidden;
    box-shadow:
            2.8px 2.3px 5.3px rgba(255, 0, 85, 0.165),
            9.4px 7.8px 17.9px rgba(255, 0, 85, 0.244),
            42px 35px 80px rgba(255, 0, 85, 0.41);
}
.homeImage img{
    position: relative;
    top: 5px;
    height:25vw;
    min-height: 200px;
    left: 7%;
}