@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

.postsSection{
    display: flex;

}
.postsSection>h1{
    font: bold 300% Consolas, Monaco, monospace;
	margin: .5em 0;
	white-space: nowrap;
}
.posts h1 { 
	font: bold 300% Consolas, Monaco, monospace;
	border-right: .1em solid black;
	margin: .5em 1em;
	white-space: nowrap;
	overflow: hidden;
}
.child1{
    width: 23ch;
	animation: typing 2s steps(23, end),
	           blink-caret .5s step-end infinite alternate;
}
.child2{
    width: 24ch;
	animation: typing 2s steps(24, end),
	           blink-caret .5s step-end infinite alternate;
}
.child3{
    width: 25ch;
	animation: typing 2s steps(25, end) ,
	           blink-caret .5s step-end infinite alternate;
}
.child4{
	width: 10ch;
	animation: typing 2s steps(10, end),
	           blink-caret .5s step-end infinite alternate;
}
			
.child1:hover, .child2:hover,.child3:hover,.child4:hover{
	animation: getBigText 1s ease-in;
	opacity: 0;
}
@keyframes getBigText {
	0%{
		opacity: 1;
		transform: scale(1);
	}
	50%{
		opacity: 0.6;
		transform: scale(1.2);
	}
	100%{
		opacity: 0;
		transform: scale(1);
	}
}